body {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	text-align: center;
	font-family: verdana, monospace;
   	background-size: cover;
   	background-repeat: no-repeat;
	background-attachment:fixed;

}

#centered {
	width: 1200px;
	text-align: left;
	border: 0px;
	padding: 0;
	margin: 0 auto;
}

#dodawanie {
	width: 865px;
	text-align: left;
	border: 0px;
	padding: 0;
	margin-left:240px;
	background-color: #99CCFF;
}

.header {
	height: 79px;
	color: #99CCFF;
	background: #003366;
	font-family: verdana, monospace;
}

.label {
	color: white;
	font-family: verdana, monospace;
	font-size: 30px;
	text-align: left;
}

.labelMenu {
	color: white;
	font-family: verdana, monospace;
	font-size: 14px;
	text-align: left;
}

.labelAddUser {
	background-color: #99CCFF;
	color: white;
	font-family: verdana, monospace;
	font-size: 13px;
	text-align: left;
}

.leftbar {
	float: left;
	height: 310px;
	width: 220px;
	background: #FFFFFF;
	border: 1px solid #003366;
}

.search {
	margin-left: 15px;
}

table {
	border-color: white;
	border-spacing: 3px;
	padding-left: 15px;
	background-color: white;
}

table thead tr {
	font-family: verdana, monospace;
	font-size: 14px;
	text-align: center;
	background-color: #99CCFF;
}

table thead tr th {
	margin: 5px;
	padding: 2px;
	background-color: #003366;
	font-family: verdana, monospace;
	font-size: 13px;
	text-align: left;
	text-align: center;
}

table tr {
	background-color: #99CCFF;
	font-family: verdana, monospace;
	font-size: 13px;
	text-align: left;
	text-align: center;
}

table tr.classEven {
	background-color: #003366;
	color: white;
}

table tr td,th {
	padding: 2px;
}

.classEven {
	background-color: #6699CC;
}

a:link {
	font-family: verdana, monospace;
	text-decoration: none;
	color: teal;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: black;
	text-decoration: none;
}

span.tooltip_message,span.tooltip_img1 {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 18px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;
	font-family: verdana, monospace;
}

span.tooltip_message:hover {
	background-color: #337ab7;
}

div.message {
	background-color: #99CCFF;
	color: #000000;
	position: absolute;
	left: 18px;
	top: -18px;
	z-index: 1000000;
	text-align: left;
	width: 280px;
}

#menu {
	list-style: none;
	padding: 0 0 0 0;
	margin: 10px 10px 10px 10px;
}

#menu li {
	display: block;
	background-color: #003366;
	font-weight: bold;
	font-family: verdana, monospace;
	text-decoration: none;
	color: teal;
	color: white;
	text-align: center;
	margin: 1px;
	cursor: pointer;
	padding: 5px 0 0 0;
}

#menu ul {
	list-style: none;
	padding: 10px 0 0 0;
	display: none;
}

#menu ul li {
	font-weight: bold;
	cursor: auto;
	background-color: #fff;
	padding: 0 0 0 7px;
	text-align: left;
}