<body background="images/medical-bill.jpg" >

<head>
<link rel="stylesheet" href="css/equi.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
<script src="js/equi.js" type="text/javascript"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
</head>

<div id="centered">
	<nav class="navbar navbar-default" role="navigation"
		style="background-color: #003366; padding: 8px 0px 64px 0px; width: 1200px;">
		<div class="container">
			<div class="navbar-header">
				<h1>
					<span style="color: #99CCFF; margin-left: 15px; margin-top: 15px;"
						class="label"><i class="fa fa-stethoscope fa-8x;"></i>
						SPRZĘT <span style="color: white;">MEDYCZNY</span></span>
				</h1>
			</div>

		</div>

	</nav>
	</br>
	<div class="container" style="width: 1200px;">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<span class="label"
					style="font-size: 20px; background-color: #99CCFF; color: #003366;">LOGOWANIE
					DO SYSTEMU</span>
			</div>
			<div class="col-lg-4"></div>
		</div>
		</br>
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6"
				style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px; background-color: #003366; opacity: 1;">
				<form action="LoginServlet" method="post">
					</br>
					<div class="form-group">
						<label for="exampleInputEmail1"
							style="font-size: 15px; color: #99CCFF; font-family: verdana, monospace;">LOGIN</label>
						<input style="width: 400px; font-family: verdana, monospace;"
							type="text" class="form-control" id="exampleInputEmail1"
							placeholder="Podaj LOGIN" name="user">
					</div>
					</br>
					<div class="form-group">
						<label for="exampleInputPassword1"
							style="font-size: 15px; color: #99CCFF; font-family: verdana, monospace;">HASŁO</label>
						<input style="width: 400px; font-family: verdana, monospace;"
							type="password" class="form-control" id="exampleInputPassword1"
							placeholder="Podaj HASŁO" name="pwd">
					</div>
					</br>
					<button type="submit" class="btn btn-primary" name="acttion"
						value="logIn">
						<i class="fa fa-lock fa-lg"></i>&nbsp; ZALOGUJ
					</button>
				</form>
			</div>
			<div class="col-lg-3"></div>
		</div>
	</div>

</div>
</body>